name: 1st Workflow
on:
  - workflow_dispatch

jobs:
  run-first-command:
    runs-on: ubuntu-latest
    steps:
      - name: Display Text Content
        run: echo "Text Content"
      - name: Command in Multiline
        run: |
          node -v
          npm -v